body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.board {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, minmax(100px, .1fr));
}

.cell {
  padding: auto;
  background-color: #ccc;
  aspect-ratio: 1;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  margin: auto;
  margin-top: 2em;
}